/* ==================================================
                  Basic Reset
====================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: "Inter", sans-serif;

    font-size: 16px;

    line-height: 1.5;

    color: #111111;

    background-color: #ffffff;

}


img {

    display: block;

    max-width: 100%;

}


a {

    text-decoration: none;

    color: #111111;

}


ul {

    list-style: none;

}


/* ====================================================
   Common Styles
====================================================*/


.container {

    width: 1200px;

    margin: 0 auto;

}


/* ====================================================
   Buttons
==================================================== */


.primary-btn {

    display: inline-block;

    padding: 14px 28px;

    background-color: #2457E6;

    color: #ffffff;

    font-size: 14px;

    font-weight: 600;

    border-radius: 6px;

}

/* ====================================================
                      Navbar
==================================================== */


.navbar {

    background-color: #ffffff;

}


.navbar-container {

    padding: 14px 0;

    display: flex;

    align-items: center;

    justify-content: space-between;

}



.brand-logo img {

    width: 80px;

}



.nav-menu {

    display: flex;

    align-items: center;

    gap: 28px;

}



.nav-link {

    color: #444444;

    font-size: 13px;

    font-weight: 400;

}



.register-btn {

    display: inline-flex;

    align-items: center;

    justify-content: center;


    padding: 10px 24px;


    background-color: #2457E6;


    color: #ffffff;


    border-radius: 6px;


    font-size: 13px;


    font-weight: 600;

}

/* ====================================================
                  Hero Section
====================================================*/


.hero-section {

    min-height: 500px;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)
        ),
        url("../assets/banner.jpg");


    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;


    display: flex;

    align-items: center;

    justify-content: center;


    text-align: center;

}



.hero-container {

    width: 700px;

}



.hero-title {

    color: #ffffff;

    font-size: 48px;

    font-weight: 700;

    line-height: 1.2;

    margin-bottom: 20px;

}



.italic-text {

    font-style: italic;

}



.hero-paragraph {

    color: #E6E6E7;

    font-size: 14px;

    font-weight: 400;

    line-height: 1.5;

    margin-bottom: 150px;

}



.hero-btn {

    display: inline-flex;

    align-items: center;

    justify-content: center;


    padding: 12px 28px;


    background-color: #2457E6;


    color: #ffffff;


    border-radius: 6px;


    font-size: 14px;


    font-weight: 600;

}

/* ====================================================
                 Speakers Section
==================================================== */


.speakers-section {

    padding: 70px 0;

}



.speakers-title {

    text-align: center;

    color: #000102;

    font-size: 36px;

    font-weight: 700;

    margin-bottom: 40px;

}



.speakers-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

}



.speaker-card {

    background-color: #ffffff;

    border: 1px solid #e5e5e5;

    border-radius: 10px;

    overflow: hidden;

}



.speaker-image {

    width: 100%;

    height: 280px;

    object-fit: cover;

}



.speaker-info {

    padding: 24px;

}



.speaker-category {

    color: #2457E6;

    font-size: 14px;

    font-weight: 500;

    margin-bottom: 10px;

}



.speaker-name {

    color: #111111;

    font-size: 22px;

    font-weight: 700;

    margin-bottom: 8px;

}



.speaker-company {

    color: #666666;

    font-size: 14px;

    font-weight: 400;

}

/* ====================================================
             Pricing Section
==================================================== */


.pricing-section {

    padding: 70px 0;

}



.pricing-title {

    text-align: center;

    color: #111111;

    font-size: 36px;

    font-weight: 700;

    margin-bottom: 12px;

}



.pricing-subtitle {

    text-align: center;

    color: #666666;

    font-size: 16px;

    font-weight: 400;

    margin-bottom: 40px;

}



.pricing-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}



/* pricing card */


.pricing-card {

    background-color: #ffffff;

    border: 1px solid #dddddd;

    border-radius: 8px;

    padding: 28px;

}


.pricing-card-team {
    background-color: #F8F9FB;

    border-color: #D5E2EA;
}



/* plan name */


.plan-name {

    color: #111111;

    font-size: 13px;

    font-weight: 600;

    margin-bottom: 10px;

    text-transform: uppercase;

}



/* price */


.plan-price {

    color: #111111;

    font-size: 42px;

    font-weight: 700;

    line-height: 1;

    margin-bottom: 8px;

}



.plan-for-person {

    color: #999999;

    font-size: 12px;

    font-weight: 400;

    margin-bottom: 24px;

}

.card-divider {

    width: 100%;

    height: 1px;

    background-color: #eeeeee;

    margin: 24px 0;

}
.pro-card-divider {
    /* background-color: rgba(0, 0, 0, 0.4); */
    opacity: 0.3;
}


/* feature list */


.feature-list {

    list-style: none;

    padding: 0;

    margin-bottom: 30px;

}



.feature-item {

    position: relative;

    padding-left: 16px;

    color: #555555;

    font-size: 13px;

    font-weight: 400;

    margin-bottom: 12px;

}



.feature-item::before {

    content: "";

    width: 5px;

    height: 5px;

    background-color: #2457E6;

    border-radius: 50%;

    position: absolute;

    left: 0;

    top: 7px;

}



/* button */


.pricing-btn {
    /* display:block;
    text-align: center; */

    display: inline-flex;
    
    width: 100%;

    align-items: center;

    justify-content: center;

    padding: 10px 24px;

    background-color: #ffffff;

    color: #2457E6;

    border: 1px solid #2457E6;

    border-radius: 5px;

    font-size: 13px;

    font-weight: 600;

}

.pricing-btn-team {
    background-color: #F8F9FB;
    background-color: ;

    color: #0D1B2A;

    border-color: #0D1B2A;
}



/* Pro card */


.pro-card {

    background-color: #071A2D;

    border-color: #071A2D;

}



.pro-card .plan-name {

    color: #ffffff;

}



.pro-card .plan-price {

    color: #ffffff;

}



.pro-card .plan-for-person {

    color: #cccccc;

}



.pro-card .feature-item {

    color: #dddddd;

}



.pro-card .feature-item::before {

    background-color: #2457E6;

}



.pro-card .pricing-btn {

    background-color: #2457E6;

    color: #ffffff;

    border-color: #2457E6;

}

/* ------------------------------------------ */

/* ===================================================
          Innovation Showcase AI
======================================================*/


.showcase-section {

    padding: 80px 0;

    background-color: #F8F9FC;

}



.showcase-heading {

    text-align: center;

    margin-bottom: 45px;

}



.showcase-heading h2 {

    color: #111111;

    font-size: 36px;

    font-weight: 700;

    margin-bottom: 14px;

}



.showcase-heading p {

    color: #666666;

    font-size: 16px;

    font-weight: 400;

}





/* showcase cards layout */


.showcase-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}





/* single showcase card */


.showcase-card {

    background-color: #FFFFFF;

    border: 1px solid #DDDDDD;

    border-radius: 10px;

    overflow: hidden;

}





.showcase-photo {

    width: 100%;

    height: 220px;

    object-fit: cover;

}





.showcase-details {

    padding: 24px;

}





.showcase-tag {

    display: inline-block;

    color: #2457E6;

    font-size: 12px;

    font-weight: 600;

    margin-bottom: 12px;

}





.showcase-name {

    color: #111111;

    font-size: 20px;

    font-weight: 700;

    margin-bottom: 10px;

}





.showcase-description {

    color: #666666;

    font-size: 14px;

    font-weight: 400;

    line-height: 1.5;

}





/* section button */


.showcase-action {

    text-align: center;

    margin-top: 45px;

}



.showcase-button {

    padding: 12px 30px;

    background-color: #2457E6;

    color: #FFFFFF;

    border: none;

    border-radius: 6px;

    font-size: 14px;

    font-weight: 600;

    cursor: pointer;

}

/* ===================================================
               Footer Section
====================================================== */


.footer-section {

    background-color: #071A2D;

    padding: 35px 0;

}



.footer-content {

    display:flex;

    align-items:center;

    justify-content:space-between;

}



.footer-copy {

    color:#8894A5;

    font-size:16px;

    font-weight:400;

}



.footer-links-container {

    display:flex;

    align-items:center;

    gap:35px;

}



.footer-link {

    color:#8894A5;

    font-size:16px;

    font-weight:400;

}